* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1100px;
  padding: 0 20px;
  margin: auto;
  background-image: url(./img/sky.jpeg);

  background-size: cover;
}

.card-container {
  display: grid;
  place-items: center;
  /* height: 70vh;
  margin: 130px 40px;
  background-color: #fff;
  padding: 70px 0;
  text-align: center; */
}
.card {
  margin: 130px 40px;
  background-color: #fff;
  padding: 70px 5px;
  text-align: center;
}
.temperature {
  padding-top: 20px;
  margin-right: 70px;
}

.search {
  margin-top: 20px;
}

.search input {
  font-size: 20px;
  width: 60%;
  padding-left: 5px;
  border-radius: 20px;
}

.weatherIcon {
  width: 140px;
  padding: 5px;
  border-radius: 10px;
  font-size: 90px;
  color: black;
  background-color: skyblue;
}
